<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <!--<div class="col-md-2">-->
            <!--&lt;!&ndash;Sidebar content&ndash;&gt;-->

            <!--&lt;!&ndash;Search: <input ng-model="query">&ndash;&gt;-->

        <!--</div>-->
        <div class="col-md-12">
            <p>
                Made with
                <a href="http://angularjs.org/">angular.js</a>,
                <a href="http://n3-charts.github.io/line-chart/">n3-charts</a>,
                <a href="http://getbootstrap.com/">bootstrap</a>.
            </p>
            <p>Filter:&nbsp;<select ng-model="dateFilter" ng-change="changedDateFilter(dateFilter)"
                    data-ng-options="dates as dates.Label for dates in weekchoices"
                    ></select></p>
            <linechart data="data" options="options" height="500"></linechart>
        </div>
    </div>
</div>
